nav {
  background-color: rgb(15, 89, 160);
  width: 100%;
  height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

body {
  background-color: rgb(209, 240, 255);
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  text-align: center;
  line-height: 40px;
}

.boxText {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}

.boxLogo span {
  margin-left: 20px;
}

.containerMenu {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.boxItem {
  width: 25%;
}

.boxItem ul {
  display: flex;
  justify-content: space-around;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-top: 50px;
}

.container img {
  border-radius: 10%;
  width: 80%;
}

.boxImg {
  display: flex;
  justify-content: center;
}

/*RESPONSIVO*/

@media (max-width: 700px) {
  .boxLogo {
    display: none;
  }

  nav {
    height: 300px;
  }

  .containerMenu {
    height: 300px;
  }

  .boxItem {
    width: 100%;
  }

  ul {
    height: 300px;
  }

  .boxItem ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .container {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .boxImg img {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 40%;
  }
}
