body {
  background-color: rgb(255, 255, 255);
}

nav {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

.boxLogo img {
  width: 60px;
  margin: 0 auto;
  padding-left: 10px;
  
}

.containerMenu {
  max-width: 1000px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.boxItem ul {
  display: flex;
  justify-content: space-around;
}

.buttonMenu {
  background-color: #f53a40;
  border: none;
  width: 120px;
  height: 40px;
  color: #fff;
  border-radius: 10px;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px;
}

/*RESPONSIVO*/

@media (max-width: 700px) {
  nav {
    height: 300px;
  }

  .containerMenu {
    height: 300px;
    flex-direction: column;
  }

  .boxLogo img {
    width: 70px;
    margin-top: 20px;
  }

  .boxItem {
    width: 100%;
  }

  ul {
    height: 200px;
  }

  .boxItem ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  

  
}
