body {
  background-color: rgb(255, 255, 255);
}

/*MENU*/

nav {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

.boxLogo img {
  width: 100px;
  margin: 0 auto;
  padding-left: 10px;
  
}

.containerMenu {
  max-width: 1000px;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.boxItem ul {
  display: flex;
  justify-content: space-around;
}

.buttonMenu {
  background-color: #ed2b84;
  border: none;
  width: 120px;
  height: 40px;
  color: #fff;
  border-radius: 10px;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px;
}

/*HOME*/

.containerHome {
  max-width: 1000px;
  margin: 0 auto;
}

.containerImgText {
  display: flex;
}

.boxImg {
  width: 60%;
}

.boxImg img {
  max-width: 100%;
  margin-top: 20px;
}

.boxText {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.boxText p {
  font-family: 'Jost', sans-serif;
  font-size: 3.5em;
  text-align: center;
  margin: 0 10px;
}

.buttonAdopt {
  background-color: #ed2b84;
  border: none;
  width: 170px;
  height: 50px;
  color: #fff;
  border-radius: 30px;
  font-size: 1.25em;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 30px;
  box-shadow: 0 8px 12px -6px black;
}

/*DIVIDER*/

.dividers {
  max-width: 940px;
  border-radius: 10px;
  background-color: #2e2e2e;
  height: 60px;
  margin: 0 auto;
}

.boxDividers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 20px;
}

.boxDividers h2 {
  font-family: 'Jost', sans-serif;
  letter-spacing: 2px;
  font-size: 2em;
  color: #fff;
}

.boxDividers img {
  width: 45px;
  margin: 0px 30px ;
}

/*CARDS*/

.cardTitle h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 40px 0;
}

.cardTitle h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  background-color: #ed2b84;
  margin: 0 auto;
  margin-top: 8px;
}

.containerCards {
  max-width: 960px;
  margin: 0 auto;
}


.ajuda {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  border-radius: 10px;
}


.card {
  background-color: #fff;
  width: 250px;
  height: 360px;
  margin: 10px;
  border-radius: 15px;
  margin-top: 40px;
}


.card-img {
  height: 190px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.card p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.buttonCards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0ccbff;
  border: none;
  width: 150px;
  height: 40px;
  color: #fff;
  border-radius: 10px;
  font-size: 1.12em;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 8px 12px -6px black;
  margin: 0 auto;
}

.buttonCardsPink {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ed2b84;
  border: none;
  width: 150px;
  height: 40px;
  color: #fff;
  border-radius: 10px;
  font-size: 1.12em;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 8px 12px -6px black;
  margin: 0 auto;
}


.img1 {
  background: url("/img/cat1.png");
}

.img2 {
  background: url("img/dog1.png");
}

.img3 {
  background: url("img/cat3.png");
}

.img4 {
  background: url("img/dog2.png");
}

.img5 {
  background: url("img/cat2.png");
}

.img6 {
  background: url("img/dog3.png");
}

.img7 {
  background: url("img/dog4.png");
}

.img8 {
  background: url("img/dog5.png");
}

.img9 {
  background: url("img/cat4.png");
}














/*RESPONSIVE*/

@media (max-width: 700px) {
  /*MENU*/
  nav {
    height: 300px;
  }

  .containerMenu {
    height: 300px;
    flex-direction: column;
  }

  .boxLogo img {
    width: 100px;
    margin-top: 20px;
  }

  .boxItem {
    width: 100%;
  }

  ul {
    height: 200px;
  }

  .boxItem ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  /*HOME*/

  .containerImgText{
    flex-wrap: wrap;
    flex-direction: column;
  }

  .boxImg {
    width: 80%;
    margin: 0 auto;
  }

  .boxText {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }


  

  
}
